<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="css/main.css">-->
    <link rel="stylesheet" type="text/css" href="../../public/login/css/login.css">
    <title>Document</title>
</head>

<body>
    <!-- Edit the navbar -->
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <!-- set up logo picture and link it to the main page -->
                <a href="MainPage.html" class="navbar-brand"></a>
            </div>
            <!-- edit the content for this navbar
            <ul class="nav navbar-nav">
                <li><a href="#">MainPage</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">item</a></li>
                <li><a href="#">AboutUs</a></li>
            </ul>-->
            <!-- the log in and log out part
            <ul class="nav navbar-nav navbar-right">
                <li><a href="LogIn.html">Log in</a></li>
                <li><a href="Signup.html">Sign up</a></li>
            </ul>-->
        </div>
    </div>
    <div class="container container-small">
        <img src="../../public/home/img/signup.png" alt="logo">
        <!--sign in text-->
        <h1>Ability News</h1>
        <!-- the form for login -->
        <form action="http://localhost:3000/user/reset" method="POST">
            <div class="form-group">
                <input placeholder="username" type="text" class="form-control" autocomplete = "on" name="username">
            </div>
            <!-- the password part -->
            <div class="form-group">
                <input placeholder="New Password" type="new password" class="form-control" autocomplete = "on" name="newpassword">
            </div>
            <div class="form-group">
                <input placeholder="Confirm the new password" type="confirm the new password" class="form-control" autocomplete = "on" name="newpasswordConfirm">
            </div>
            <!-- the log in button -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">RESET PASSWORD</button>
            </div>
        </form>
    </div>
</body>
 </html>