<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!--<link rel="stylesheet" type="text/css" href="css/main.css">-->
	<link rel="stylesheet" type="text/css" href="../../../public/user/css/personalPage.css">
	<title>Personal page</title>
</head>

<body>
	<!-- Edit the navbar -->
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<!-- set up logo picture and link it to the main page -->
				<a href="MainPage.html" class="navbar-brand"></a>
			</div>
			<!-- edit the content for this navbar -->
			<ul class="nav navbar-nav">
				<li><a href="#">item</a></li>
				<li><a href="#">item</a></li>
				<li><a href="#">item</a></li>
				<li><a href="#">item</a></li>
				<li><a href="#">item</a></li>
			</ul>
			<!-- the log in and log out part -->
			<ul class="nav navbar-nav navbar-right">
				<li><a href="LogIn.html">Log in</a></li>
				<li><a href="SignUp.html">Sign up</a></li>
			</ul>
		</div>
	</div>
	
	<div class="container">

	
    <!--Edit the side menu-->
    <div class="col-sm-2">
        <!-- edit the side bar of the left page -->
        <div class="list-group side-bar">
			<a href="./personalPage_myProfile.html" class="list-group-item">My Profile</a>
			<a href="./personalPage_myComments.html" class="list-group-item active">My Comments</a>

			<div id="nav-title1" class="list-group-item"><a href="#" >My Posts<i></i></a></div>
			
			<div class="hide1">
				<a class="hide2" href="./personalPage_successfulPost.html" >-&nbsp;Successful Posts</a>
				<a class="hide2" href="./personalPage_returnedPost.html" >-&nbsp;Returned Posts</a>
			</div>
			<a href="./personalPage_myDraft.html" class="list-group-item">My Draft</a>
			<a href="./personalPage_myBookmarks.html" class="list-group-item">My Bookmarks</a>
			<a href="./personalPage_secureCenter.html" class="list-group-item">Secure Center</a>
        </div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../../router/personalPage.js"></script>

    <div class="my-comments">
        <div class="list-header">
	
			<h2>My Comments</h2>
			<hr>
		</div>
		<div class="comment1">
			<h3><a href="NewsPage2.html" target="blank">News headline</a></h3>
			<img src="../../../public/user/img/user photo.jpg" alt="comment-avatar">
			<h4>User Nickname</h4>
		
		<div class="comment1-p">
			<p><a href="NewsPage2.html#comment-part" target="blank">Comment comment commentcomment commentcomment comment.</a></p>
			<span>30/03/2021</span>
			<hr>
		</div>
		</div>

		<div class="comment2">
			<h3><a href="NewsPage2.html" target="blank">News headline</a></h3>
			<img src="../../../public/user/img/user photo.jpg" alt="comment-avatar">
			<h4>User Nickname</h4>
		
		<div class="comment2-p">
			<p><a href="NewsPage2.html#comment-part" target="blank">Comment comment commentcomment commentcomment comment.</a></p>
			<span>31/03/2021</span>
			<hr>
		
		</div>
		</div>

		<div class="comment3">
			<h3><a href="NewsPage2.html" target="blank">News headline</a></h3>
			<img src="../../../public/user/img/user photo.jpg" alt="comment-avatar">
			<h4>User Nickname</h4>
		
		<div class="comment3-p">
			<p><a href="NewsPage2.html#comment-part" target="blank">Comment comment commentcomment commentcomment comment.</a></p>
			<span>31/03/2021</span>
			<hr>
		
		</div>
		</div>
		
	</div>
	
</div>
</body>
</html>