<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>zxyzxy518</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" th:href="@{/plugins/bootstrap/bootstrap.min.css}">
  <!-- slick slider -->
  <link rel="stylesheet" th:href="@{/plugins/slick/slick.css}">
  <!-- themefy-icon -->
  <link rel="stylesheet" th:href="@{/plugins/themify-icons/themify-icons.css}">

  <!--  引入 Layui.css -->
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>


  <!-- Main Stylesheet -->
  <link th:href="@{/css/style.css}" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
  <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">

  <style>
    .page-link {
      background-color: #F5F6F7 !important;
    }

    .spig {
      display: block;
      width: 175px;
      height: 246px;
      position: absolute;
      bottom: 300px;
      left: 180px;
      z-index: 9999;
    }

    #message {
      color: #191919;
      border: 1px solid #c4c4c4;
      background: #ddd;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      min-height: 1em;
      padding: 5px;
      top: -45px;
      position: absolute;
      text-align: center;
      width: auto !important;
      z-index: 10000;
      -moz-box-shadow: 0 0 15px #eeeeee;
      -webkit-box-shadow: 0 0 15px #eeeeee;
      border-color: #eeeeee;
      box-shadow: 0 0 15px #eeeeee;
      outline: none;
    }

    .mumu {
      width: 175px;
      height: 246px;
      cursor: move;
      background: url('../../spig.gif') no-repeat;
    }
  </style>

</head>

<body>
<!-- preloader -->
<div class="preloader">
  <div class="loader">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- /preloader -->
<!-- 头部 -->
<header class="navigation" style="padding:0px !important;box-shadow:0px 15px 10px -15px #ccc;">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" th:href="@{/index.html}"><img class="img-fluid" th:src="@{/images/logo.png}"
                                                          alt="parsa"></a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navogation"
            aria-controls="navogation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navogation">

      <!-- 没有登录的情况 -->
      <ul class="navbar-nav ml-auto" th:if="${!result.data.isLogin}">
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" th:href="@{/}">返回登录</a>
        </li>
      </ul>

      <!-- 用户登陆了的情况 -->
      <ul class="navbar-nav ml-auto" th:if="${result.data.isLogin}">
        <!-- 我的信息 -->
        <li class="nav-item dropdown" style="position: relative;">
          <div style="position: absolute; top: 10px; left: -30px; ">
            <img th:src="${result.data.img}" style="width: 40px; height: 40px; border-radius: 30px;"/>
          </div>
          <a class="nav-link text-uppercase text-dark dropdown-toggle" href="JavaScript:;"
             id="navbarDropdown"
             role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            我的
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" target="_blank" th:href="@{/acl/my/info/index}">我的信息</a>
            <a class="dropdown-item" th:href="@{/homepage-2.html}">我的收藏</a>
            <a class="dropdown-item" th:href="@{/homepage-2.html}">我的关注</a>
            <a class="dropdown-item" th:href="@{/homepage-2.html}">我的足迹</a>
          </div>
        </li>
        <!-- 我的信息End -->
        <!--<li class="nav-item">
            <a class="nav-link text-uppercase text-dark" th:href="@{/about.html">About</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="JavaScript:" onclick="openWrite()">写博客</a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link text-uppercase text-dark" th:href="@{/edit.html">Contact</a>
        </li>-->
      </ul>
      <form class="form-inline position-relative ml-lg-4" id="searchForm" th:action="@{/logs/search/index}">
        <input class="form-control px-0 w-200" name="query" type="search" placeholder="最近热榜....">
        <button class="search-icon" type="submit"><i class="ti-search text-dark"></i></button>
      </form>
    </div>
  </nav>
</header>

<!-- page-title -->
<section class="section bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>As a Designer, I Refuse to Call People ‘Users’</h4>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->

<!-- blog single -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="list-inline d-flex justify-content-between py-3">
          <li class="list-inline-item"><i class="ti-user mr-2"></i>Post by Jhon Abraham</li>
          <li class="list-inline-item"><i class="ti-calendar mr-2"></i>June 2, 2018</li>
        </ul>
        <img th:src="@{/images/post-single.jpg}" alt="post-thumb" class="w-100 img-fluid mb-4">
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem.</p>

          <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          </blockquote>

          <img th:src="@{/images/post-img.jpg}" alt="image" class="img-fluid">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="widget search-box">
          <i class="ti-search"></i>
          <input type="search" id="search-post" class="form-control border-0 pl-5" name="search-post"
            placeholder="Search">
        </div>
        <div class="widget">
          <h6 class="mb-4">LATEST POST</h6>
          <div class="media mb-4">
            <div class="post-thumb-sm mr-3">
              <img class="img-fluid" th:src="@{/images/masonary-post/post-1.jpg}" alt="post-thumb">
            </div>
            <div class="media-body">
              <ul class="list-inline d-flex justify-content-between mb-2">
                <li class="list-inline-item">Post By Jhon</li>
                <li class="list-inline-item">June 2, 2018</li>
              </ul>
              <h6><a class="text-dark" th:href="@{blog-single.html}">Lorem ipsum dolor sit amet, consectetur</a></h6>
            </div>
          </div>
          <div class="media mb-4">
            <div class="post-thumb-sm mr-3">
              <img class="img-fluid" th:src="@{/images/masonary-post/post-6.jpg}" alt="post-thumb">
            </div>
            <div class="media-body">
              <ul class="list-inline d-flex justify-content-between mb-2">
                <li class="list-inline-item">Post By Jhon</li>
                <li class="list-inline-item">June 2, 2018</li>
              </ul>
              <h6><a class="text-dark" th:href="@{blog-single.html}">Lorem ipsum dolor sit amet, consectetur</a></h6>
            </div>
          </div>
          <div class="media mb-4">
            <div class="post-thumb-sm mr-3">
              <img class="img-fluid" th:src="@{/images/masonary-post/post-3.jpg}" alt="post-thumb">
            </div>
            <div class="media-body">
              <ul class="list-inline d-flex justify-content-between mb-2">
                <li class="list-inline-item">Post By Jhon</li>
                <li class="list-inline-item">June 2, 2018</li>
              </ul>
              <h6><a class="text-dark" th:href="@{blog-single.html}">Lorem ipsum dolor sit amet, consectetur</a></h6>
            </div>
          </div>
        </div>
        <div class="widget">
          <h6 class="mb-4">TAG</h6>
          <ul class="list-inline tag-list">
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">ui ux</a></li>
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">developmetns</a></li>
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">travel</a></li>
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">article</a></li>
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">travel</a></li>
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">ui ux</a></li>
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">article</a></li>
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">developmetns</a></li>
          </ul>
        </div>
        <div class="widget">
          <h6 class="mb-4">CATEGORIES</h6>
          <ul class="list-inline tag-list">
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">ui ux</a></li>
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">developmetns</a></li>
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">travel</a></li>
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">article</a></li>
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">travel</a></li>
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">ui ux</a></li>
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">article</a></li>
            <li class="list-inline-item m-1"><a th:href="@{blog-single.html}">developmetns</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /blog single -->

<footer>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <a th:href="@{index.html}"><img th:src="@{/images/logo.png}" alt="persa" class="img-fluid"></a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <ul class="list-unstyled">
            <li class="font-secondary text-dark">Sydney</li>
            <li class="font-secondary text-dark">6 rip carl Avenue CA 90733</li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <ul class="list-unstyled">
            <li class="font-secondary text-dark">Tel: +90 000 333 22</li>
            <li class="font-secondary text-dark">Mail: exmaple@ymail.com</li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <span class="font-secondary text-dark mr-3">Follow</span>
          <ul class="list-inline d-inline-block">
            <li class="list-inline-item"><a th:href="@{#}" class="text-dark"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item"><a th:href="@{#}" class="text-dark"><i class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item"><a th:href="@{#}" class="text-dark"><i class="ti-linkedin"></i></a></li>
            <li class="list-inline-item"><a th:href="@{#}" class="text-dark"><i class="ti-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <p>Copyright ©<script>var CurrentYear = new Date().getFullYear()
    document.write(CurrentYear)</script> a theme by themefisher / More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
  </div>
</footer>

<!-- jQuery -->
<script th:src="@{plugins/jQuery/jquery.min.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{plugins/bootstrap/bootstrap.min.js}"></script>
<!-- slick slider -->
<script th:src="@{plugins/slick/slick.min.js}"></script>
<!-- masonry -->
<script th:src="@{plugins/masonry/masonry.js}"></script>
<!-- instafeed -->
<script th:src="@{plugins/instafeed/instafeed.min.js}"></script>
<!-- smooth scroll -->
<script th:src="@{plugins/smooth-scroll/smooth-scroll.js}"></script>
<!-- headroom -->
<script th:src="@{plugins/headroom/headroom.js}"></script>
<!-- reading time -->
<script th:src="@{plugins/reading-time/readingTime.min.js}"></script>

<!-- Main Script -->
<script th:src="@{js/script.js}"></script>

</body>
</html>