<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!--<link rel="stylesheet" type="text/css" href="css/main.css">-->
	<link rel="stylesheet" type="text/css" href="../../../public/user/css/personalPage.css">
	<title>Personal page</title>
</head>

<body>
	<!-- Edit the navbar -->
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<!-- set up logo picture and link it to the main page -->
				<a href="MainPage.html" class="navbar-brand"></a>
			</div>
			<!-- edit the content for this navbar -->
			<ul class="nav navbar-nav">
				<li><a href="#">item</a></li>
				<li><a href="#">item</a></li>
				<li><a href="#">item</a></li>
				<li><a href="#">item</a></li>
				<li><a href="#">item</a></li>
			</ul>
			<!-- the log in and log out part -->
			<ul class="nav navbar-nav navbar-right">
				<li><a href="LogIn.html">Log in</a></li>
				<li><a href="SignUp.html">Sign up</a></li>
			</ul>
		</div>
	</div>
	
	<div class="container">


    <!--Edit the side menu-->
    <div class="col-sm-2">
        <!-- edit the side bar of the left page -->
        <div class="list-group side-bar">
			<a href="./personalPage_myProfile_editor.html" class="list-group-item active">My Profile</a>
			<a href="./publishQueue.html" class="list-group-item">Publish Queue</a>
			<a href="./personalPage_myComments_editor.html" class="list-group-item">My Comments</a>

			<div id="nav-title1" class="list-group-item"><a href="#" >My Posts<i></i></a></div>
			
			<div class="hide1">
				<a class="hide2" href="./personalPage_successfulPost_editor.html" >-&nbsp;Successful Posts</a>
				<a class="hide2" href="./personalPage_returnedPost_editor.html" >-&nbsp;Returned Posts</a>
			</div>
			<a href="./personalPage_myDraft_editor.html" class="list-group-item">My Draft</a>
			<a href="./personalPage_myBookmarks_editor.html" class="list-group-item">My Bookmarks</a>
			<a href="./personalPage_secureCenter_editor.html" class="list-group-item">Secure Center</a>
        </div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../../router/personalPage.js"></script>
	
	<!--My profile page-->
    <div class="profile-img">

		<img id="photo" src="../../../public/user/img/user photo.jpg" alt="photo">
		<div class="profile-setting">
			<h2>Email address</h2>
			<p>1234567@gmail.com</p>
			<button class="change" role="button" tabindex="0">Change</button>

			
			<h2>Display name (optional)</h2>
			<p>Set a display name. This does not change your username.</p>
			<textarea placeholder="Dispaly name (optional)" maxlength="30" type="text"></textarea>
			
			<h2>Avatar image</h2>
			<p>Image must be .png or .jpg format</p>
			<input id="upload" name="profileIcon" type="file" accept="image/x-png,iage/jpeg" onchange="chooseImg(this)">
			<script>
			function chooseImg(file){
				    var file=file.files[0];
				    var reader=new FileReader();
				    reader.readAsDataURL(file);
				    reader.onload=function(){
			           var img=document.getElementById('photo');
			           img.src=this.result
				    };
				
				}
			</script>
			<div class="about">

				<h2>About (optional)</h2>
				<p>A brief description of yourself.</p>
				<textarea placeholder="About (optional)" maxlength="200"type="text"></textarea>
			</div>
			

			<div class="submmit">
				<button>Save</button>

			</div>
		
		</div>

	</div>

	
	</div>
	


	
</body>
</html>