.navbar-brand {
  /*set up the logo picture for the navbar*/
  width: 60px;
  background-image: url(../img/logo.jpg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
}