/*style sheet for LogIn page*/
body{
    background-color: #F5F5F5;
}
.navbar{
    background-color: white;
}

/* set up the linkable part when mouse hovering */
a:hover {
    
    text-decoration: none;

  }
  
/* set up image display */
  img {
    display: block;
    max-width: 100%;
  }
  
  /* set border-radius for image and the left side-bar */
  img,
  .side-bar .list-group-item,
  .side-bar-card {
    border-radius: 3px;
  }
  
  /* set up the navigation bar */
  .navbar-brand {
    /*set up the logo picture for the navbar*/
    width: 60px;
    background-image: url(../img/logo.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
  }
  /*Set up the logo*/
  .container-small img{
      width: 10%;
      margin-left: auto; 
      margin-right:auto; 
      display:block;
  }
  /*Format the heading*/
  .container-small h1{
      text-align: center;
      color: black;
      font-family:  'GeoEditRegular', Arial, sans-serif;
      font-weight: bold;
      margin-bottom: 30px;
  }
  /*Format the form input*/
  .form-group input{
      height:46px;
      border: 1px solid #d8dee8;
      background: white;
      font-size: 20px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      width: 45%;
      margin-left: auto; 
      margin-right:auto; 
      display:block;
      border-radius: 0;

  }
  /*Format the form button*/
  .btn{
      background-color: #F5F5F5;  
      width: 45%;
      line-height: 40px;    
      margin-left: auto; 
      margin-right:auto; 
      display:block;
      border: 2px solid black;
      border-radius: 0;
      text-align: center;
      font-family:  'GeoEditRegular', Arial, sans-serif;
      font-size: 21px;
      color: black;
      font-weight: bold;
      letter-spacing: 2.5px;

  }
  .btn:hover{
    background-color: #486AAA;
    color: #fff;

  }
  /*Set Gradient effect to form button*/
  .btn-primary{
      transition-property: background-color;
      transition-duration: 0.35s;
      transition-timing-function: ease;
  }
  /*Format Forget password section*/
  .forget-password p{
      text-align: center;
      font-family: 'GeoEditRegular', Arial, sans-serif;
      font-size: 19px;
      color: black;
      font-weight: bold;
      margin-top: -5px;
  }
  /*Format link to sign up section*/
  .link-to-signup{
    text-align: center;
    font-family: 'GeoEditRegular', Arial, sans-serif;
    font-size: 19px;
    color: black;
    font-weight: bold;
    margin-top: -5px;
  }
  .link-to-signup a{
      color: black;
      text-decoration: none;
      border-bottom: 2px solid rgb(95, 129, 194);
  }
  /*Format footer*/
  .footer p{

      text-align: center;
      bottom: 0;
      position: absolute;
      width:100%;
      height: 100px;
      font-family: 'GeoEditRegular', Arial, sans-serif;
      font-size: 14px;
      color: black;
      padding-top: 30px;

  }
